{
  "project_info": {
    "project_number": "709155056447",
    "project_id": "kawula-seeker",
    "storage_bucket": "kawula-seeker.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_MOBILE_SDK_APP_ID",
        "android_client_info": {
          "package_name": "com.benelabs.kawula"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_GOOGLE_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
